@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Teko:wght@300;400&display=swap');

.blog_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 10px;
    transition: 5s;
}

.blog_container:hover .blog_inbox {
    transition: 0.5s;
    transform: translateY(-50px);
}

.blog_buttons {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
}

.blog_inbox {
    position: relative;
    top: -70px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    background-color: aliceblue;
}

.blog_inbox_h3 {
    color: #838383;
    font-size: 13px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.blog_inbox_h1 {
    font-size: 27px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.bolg_inbox_p {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}



.swiper-slide img {
    display: block;
    width: 50%;
}

.blog_button_in {
    padding: 0px 20px 0px 20px;
    width: 10%;
    color: green;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.blog_button_in:hover{
    transition: 1.5s;
    background-color: green;
    color:black ;
    
    
}
@media only screen and (max-width: 600px) {
    .blog_inbox_h1 {
        font-size: 15px;
    }

    .blog_inbox_h3 {
        font-size: 10px;
    }

    .blog_container:hover .blog_inbox {
        transition: 0.5s;
        transform: scale(1.04);
    }

    .bolg_inbox_p {
        font-size: 9px;
    }

    .blog_buttons {
        height: 0px;
    }
}

@media screen and (min-device-width: 601px) and (max-device-width: 1024px) {
    .blog_inbox_h1 {
        font-size: 17px;
    }

    .blog_inbox_h3 {
        font-size: 9px;
    }

    .bolg_inbox_p {
        font-size: 10px;
    }
}